#form_rev {
  position: relative;
  top: 7.6rem;
}
label {
  color: white;
  font-size: 1.5rem;
}
#review_box {
  position: relative;
  transform: translateX(30%);
}
#rating_area {
  position: relative;
  bottom: 16rem;
}
#rating {
  margin: 0.5rem;
  height: 2.5rem;
  width: 11rem;
  font-size: 1.3rem;
  border: none;
}

.name,
textarea {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  scroll-behavior: smooth;
  display: block;
  outline: none;
  border: 1px solid grey;
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(105, 4, 4, 0.712);
  min-width: 40%;
  width: 80%;
  resize: none;
  margin: 0.3rem 0;
  font-family: "Quicksand", sans-serif;
}
textarea {
  width: 100%;
}

textarea::-webkit-scrollbar {
  display: none;
}
#submit {
  margin-top: 0.3rem;
  padding: 1rem;
  background-color: rgba(72, 150, 95, 0.418);
  min-width: 4vw;
  height: 4rem;
  text-align: center;
}
#submit:hover {
  color: black;
  background-color: rgba(26, 197, 77, 0.63);
}
#review_submit_msg {
  position: relative;
  top: 10rem;
  right: -10rem;
  color: green;
  font-size: 1.5rem;
  text-align: center;
}
#submit_ico {
  width: 5%;
  position: relative;
  top: 6rem;
  right: 7rem;
}

.loader_submit {
  border: 10px solid #f3f3f327; /* Light grey */
  border-top: 10px solid #238bd16c; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  width: 5rem;
  height: 3rem;
  top: 10rem;
  right: 7rem;
  padding: 5rem;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
