#table_reviews th {
  font-size: 1.3rem;
  background-color: rgba(105, 4, 4, 0.712);
  padding: 0.5rem;
  font-weight: bold;
}

#table_reviews td {
  min-width: 7rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.144);
}

@media (max-width: 700px) {
  #table_reviews th {
    font-size: 1rem;
    padding: 0.3rem;
    font-weight: bold;
  }

  #table_reviews td {
    padding: 0.3rem;
    font-size: 1rem;
  }
  #table_reviews td:nth-child(3) {
    text-overflow: ellipsis;
  }
}
