#table_reviews th {
  font-size: 1.5rem;
  background-color: rgba(30, 28, 168, 0.377);
  padding: 1rem;
  font-weight: bold;
}

#table_reviews td {
  text-overflow: ellipsis;
  word-wrap: break-word;
  min-width: 12rem;
  max-width: 60rem;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: rgba(8, 92, 126, 0.308);
}
