@media (max-width: 1100px) {
  #star {
    width: 7rem;
    height: 7rem;
    bottom: 80%;
  }
  .reviews_box {
    height: 16rem;
    width: 30rem;
    margin: 5rem 0 5rem 3rem;
    padding: 4rem 2rem 1rem 2rem;
  }
  #review_p p {
    margin-top: 0.8rem;
  }
  #right_q {
    width: 1.3rem;
    right: -45%;
  }
  #left_q {
    width: 1.3rem;
  }
  #all_rev_table {
    transform: translateX(20%);
  }
}
@media (max-width: 700px) {
  #star {
    width: 5rem;
    height: 5rem;
    bottom: 80%;
  }
  .reviews_box {
    height: 30vh;
    width: 90%;
    margin: 3rem 0 5rem 1rem;
    padding: 2.5rem 2rem 1rem 2rem;
  }
  #review_p p {
    margin-top: 0.3rem;
  }
  #right_q {
    width: 1rem;
    right: -45%;
  }
  #left_q {
    width: 1rem;
  }
}
@media (max-width: 400px) {
  .reviews_box {
    height: 13rem;
    font-size: 0.7rem;
  }
}
