#star {
  position: absolute;
  z-index: 1;
  max-width: 7rem;
  border: rgba(255, 255, 255, 0.349) solid 3px;
  padding: 0.5rem;
  /*text-align: center;*/
  border-radius: 80px;
  transform: translateX(-50%);
  bottom: 13rem;
}

.reviews_box {
  position: relative;
  height: 16rem;
  width: 30rem;
  max-width: 30rem;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.548);
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.36);
  border-radius: 15px;
  color: black;
  margin: 5rem 0 0 8rem;
  text-align: center;
  padding: 4rem 2rem;
}
#review_p p {
  margin-top: 1rem;
}

#right_q {
  position: absolute;
  width: 1.5rem;
  position: relative;
  right: -40%;
}
#left_q {
  position: absolute;
  width: 1.5rem;
  transform: scale(-1);
  left: 5%;
  top: 27%;
}
#review_p {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 9.9ms;
  animation-duration: 9.9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
#all_rev_table {
  position: relative;
  height: fit-content;
  padding: 2rem;
  bottom: -30%;
  left: 2rem;
}
