* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Truculenta", sans-serif;
  background-image: linear-gradient(
    to bottom right,
    white,
    rgba(0, 0, 0, 0.644),
    grey,
    white,
    grey
  );
}
main {
  min-height: 80vh;
}

#footer {
  text-align: center;
}
h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

#home_name {
  display: inline;
  font-family: "Truculenta", sans-serif;
}

#navBar {
  background-color: rgb(72, 69, 77, 0.3);
}

#home_name,
:visited,
:link {
  margin-left: 1rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.7s ease;
  color: black;
  text-decoration: none;
}

#home_name:hover {
  margin-left: 1rem;
  font-size: 3rem;
  color: white;
}
form {
  position: absolute;
  display: inline;
  top: 0.8rem;
  margin-left: 40%;
}

form input,
form button {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  border: none;
  padding: 0.5rem;
  font-size: 2rem;
}
form input {
  min-width: 40%;
}
form button {
  cursor: pointer; /*mouse looks as pointer when is over the button*/
  color: white;
  background-color: rgb(72, 69, 77, 0.4);
  transition: all 1s;
}
form button:hover {
  color: black;
  background-color: rgba(72, 69, 77, 0.185);
}
img {
  width: 100%;
  max-height: 370px;
  object-fit: contain;
}
.movies {
  margin-left: 5rem;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0;
}
.movie-info {
  height: 500px;
  max-width: 300px;
  font-size: 1.3rem;
  text-align: center;
  background-color: rgba(70, 59, 59, 0.103);
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.075);
  border-radius: 15px;
  color: white;
}
#movie_area {
  display: Inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0;
}
#movie {
  display: flex;
  font-size: 1.3rem;
  color: white;
  justify-content: space-between;
}
#one_img {
  margin-left: 5rem;
  min-height: 370px;
  min-width: 300px;
  object-fit: fill;
}

#details {
  overflow: scroll;
  scroll-behavior: smooth;
  min-width: 400px;
  max-height: 370px;
  font-size: 1.3rem;
  background-color: rgba(53, 42, 42, 0.308);
  border-radius: 0 8px 8px 0;
  padding: 0.5rem 0.3rem;
  color: white;
}
#details::-webkit-scrollbar {
  display: none;
}

#details p {
  margin-top: 1rem;
}
