* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: rgba(230, 239, 243, 0.979);
}
main {
  min-height: 80vh;
}

#footer {
  text-align: center;
}
h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

#home_name {
  display: inline;
  font-family: "Indie Flower", cursive;
}

#navBar {
  background-color: rgba(3, 39, 83, 0.514);
  height: 8.5vh;
}

#home_name,
:visited,
:link {
  margin-left: 1.3rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 275ms ease;
  color: rgba(255, 255, 255, 0.473);
  text-decoration: none;
}

#home_name:hover {
  margin-left: 1rem;
  font-size: 3rem;
  color: rgb(255, 255, 255);
}
#search_form {
  position: absolute;
  display: flex;
  top: 0.3rem;
  margin-left: 40%;
  min-width: 40%;
  height: 7.3vh;
}
button {
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  text-align: center;
  cursor: pointer; /*mouse looks as pointer when is over the button*/
  color: white;
  background-color: rgba(177, 173, 197, 0.432);
  transition: all 275ms;
}
button:hover {
  color: black;
  background-color: rgba(72, 69, 77, 0.185);
}
.search_input,
.search_btn {
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 0;
  border: none;
  padding: 0.5rem;
  font-size: 2rem;
}
.search_btn {
  width: 10%;
}

#add_review {
  min-width: 4vw;
  max-height: 7vh;
  margin-top: 1rem;
}
img {
  width: 100%;
  max-height: 370px;
  object-fit: contain;
}
.movies {
  margin-left: 5rem;
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 2rem 0;
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.movie-info {
  height: 500px;
  max-width: 300px;
  font-size: 1.3rem;
  text-align: center;
  background-color: rgba(64, 63, 77, 0.055);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.36);
  border-radius: 15px;
  color: rgba(3, 32, 68, 0.911);
}
#movie_area {
  padding: 2rem 0;
}
#movie {
  display: flex;
  font-size: 1.3rem;
  color: white;
  justify-content: space-between;
}
#one_img {
  margin-left: 5rem;
  min-height: 75vh;
  width: 22vw;
  object-fit: fill;
}

#details {
  overflow: scroll;
  scroll-behavior: smooth;
  max-height: 75vh;
  width: 22vw;
  width: 22vw;
  font-size: 1.5rem;
  background-color: rgba(187, 196, 212, 0.726);
  border-radius: 0 8px 8px 0;
  padding: 0.5rem 0.5rem;
  color: rgb(156, 62, 8);
  font-weight: bold;
}
#details::-webkit-scrollbar {
  display: none;
}

#details p {
  margin-top: 1rem;
}
.btns_area {
  display: flex;
  height: 10%;
  position: absolute;
  top: 36rem;
  right: 13rem;
  align-items: center;
  justify-content: space-between;
}
.btns_area button {
  margin: 1rem;
  height: 100%;
  padding: 1rem;
}
.loader {
  position: absolute;
  top: 35%;
  right: 40%;
  border: 16px solid #f3f3f327; /* Light grey */
  border-top: 16px solid #238bd16c; /* Blue */
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.top_btn {
  width: 4%;
  position: fixed;
  margin: auto;
  right: 2%;
  bottom: 4%;
  cursor: pointer;
  opacity: 0.7;
}
.top_btn:hover {
  opacity: 1;
}
